<todo-todo-control-panel [todoCount]="todoList.length" [(displayAllEmails)]="showEmail"></todo-todo-control-panel>
<div class="float-right w-25">
  <todo-todo-list-history></todo-todo-list-history>
</div>
<input placeholder="Todo suchen" [(ngModel)]="searchQuery"/>
<ul class="list-group w-75">
  <li class="list-group-item" *ngFor="let todo of todoList | search:searchQuery">
    <div style="float:right">
      <button [ngClass]="{ 'btn-warning': todo.completed, 'btn-success': !todo.completed }"
              (click)="onCompleteClick(todo)">{{getCompletedText(todo)}}</button>
      <button class="btn-danger" [disabled]="!todo.completed" (click)="onDeleteClick(todo)">Löschen</button>
    </div>
    <div>
      <div [style.text-decoration]="todo.completed ? 'line-through' : ''">
        <a [routerLink]="todo.id!">{{todo.title}}</a>
      </div>
      <small *ngIf="showEmail">{{todo.email}}</small>
    </div>
  </li>
</ul>
