<h1>Neues Todo erstellen</h1>
<form [formGroup]="todoForm" (submit)="onSubmit()">
  <div class="form-group">
    <label for="title">Titel</label>
    <input class="form-control" id="title" formControlName="title"/>
    <div class="feedback" *ngIf="todoForm?.controls['title'].invalid">
      Bitte Titel angeben.
    </div>
  </div>
  <div class="form-group">
    <label for="email">E-Mail</label>
    <input class="form-control" type="email" id="email" formControlName="email">
    <div class="feedback" *ngIf="todoForm?.controls['email'].invalid && (todoForm?.controls['email'].dirty || todoForm?.controls['email'].touched)">
      <div *ngIf="todoForm?.controls['email'].errors['email']">
        Bitte eine gültige E-Mail-Adresse angeben.
      </div>
      <div *ngIf="todoForm?.controls['email'].errors['minlength']">
        Die E-Mail muss mehr als 8 Zeichen besitzen.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="description">Beschreibung</label>
    <textarea class="form-control" id="description" formControlName="description"></textarea>
  </div>
  <div class="form-group">
    <label for="group">Gruppe</label>
    <select class="form-control" id="group" formControlName="group">
      <option value="">-- Bitte wählen --</option>
      <option *ngFor="let group of groups" value="{{group.title}}">{{group.title}}</option>
    </select>
  </div>
  <button class="btn btn-primary" [disabled]="!todoForm.valid">Speichern</button>
</form>
